<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/angular-material/themes/blue-theme.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body layout="vertical" md-theme="blue" layout-fill ng-app="YourApp" ng-controller="YourController">
<header>
    <md-toolbar scroll-shrink>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleMenu()">Menu</md-button>
            <h3>
                <span>Angular Material Inbox</span>
            </h3>
        </div>
    </md-toolbar>
</header>
<div layout="vertical" flex>
    <md-sidenav class="md-sidenav-left" component-id="left">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content flex>
            <p>Stuff</p>
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>
    </md-sidenav>
    <md-content layout="horizontal" layout-align="center">
        <md-list id="content">
            <div ng-repeat="chunk in ::chunks">
                <p ng-if="chunk.divider">{{chunk.title}}</p>
                <md-card ng-if="!chunk.expanded && !chunk.divider" ng-click="chunk.expanded = !chunk.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false">
                    <md-item layout="horizontal">
                        <div>
                            <img class="round-face" src="http://placekitten.com/g/48/48"/>
                        </div>
                        <div class="collapsed-row" layout="horizontal" flex>
                            <div layout="vertical" layout-align="center" flex="45">
                                <span><b>{{ chunk.title }}</b></span>
                            </div>
                            <div layout="vertical" layout-align="center" flex="45">
                                <span>{{ chunk.description }}</span>
                            </div>
                            <div layout="vertical" layout-align="center" flex="10" ng-if="hover">
                                <span>Hover Elements</span>
                            </div>
                        </div>
                    </md-item>
                </md-card>
                <md-card ng-if="chunk.expanded && !chunk.divider" ng-click="chunk.expanded = !chunk.expanded">
                    <div layout="horizontal">
                        <div>
                            <img class="round-face" src="http://placekitten.com/g/48/48"/>
                        </div>
                        <div flex>
                            <h2>{{ chunk.title }}</h2>
                            <p>{{ chunk.description }}</p>
                            <div ng-if="chunk.content && chunk.content.type === 'QUOTE'">
                                <md-button ng-click="show_quotes = !show_quotes; $event.stopPropagation();">Show {{chunk.content.quotes.length}} quotes</md-button>
                                <div ng-if="show_quotes" ng-repeat="quote in ::chunk.content.quotes">
                                    <md-whiteframe class="md-whiteframe-z1"><blockquote>{{ quote }}</blockquote></md-whiteframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
        </md-list>
    </md-content>
</div>

<div id="fab-popup" layout="vertical" layout-align="space-between" ng-if="showAddButtons" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
            <!--Add Quote-->
        <!--</md-tooltip>-->
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
            <!--Add Text-->
        <!--</md-tooltip>-->
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
            <!--Add Image-->
        <!--</md-tooltip>-->
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
            <!--Add Video-->
        <!--</md-tooltip>-->
    </md-button>
</div>

<md-button id="mainFab" class="md-fab md-raised" ng-click="showAddButtons = !showAddButtons;" aria-label="New document">
    <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/hammerjs/hammer.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/controllers/controllers.js"></script>
</body>
</html>