<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/angular-material/themes/blue-theme.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body layout="vertical" md-theme="blue" layout-fill ng-app="YourApp" ng-controller="YourController">
<header>
    <md-toolbar scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>Angular Material Inbox</span>
            </h3>
        </div>
    </md-toolbar>
</header>
<div layout="vertical" flex>
    <md-content layout="horizontal" layout-align="center">
        <md-list id="content">
            <div ng-repeat="chunk in ::chunks">
                <md-card ng-if="!chunk.expanded" ng-click="chunk.expanded = !chunk.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false">
                    <md-item layout="horizontal">
                        <div>
                            <img class="round-face" src="http://placekitten.com/g/48/48"/>
                        </div>
                        <div layout="horizontal" flex>
                            <div layout="vertical" layout-align="center" flex="33">
                                <span><b>{{ chunk.title }}</b></span>
                            </div>
                            <div layout="vertical" layout-align="center" flex="57">
                                <span>{{ chunk.description }}</span>
                            </div>
                            <div layout="vertical" layout-align="center" flex="10" ng-if="hover">
                                <span>Hover Elements</span>
                            </div>
                        </div>
                    </md-item>
                </md-card>
                <md-card ng-if="chunk.expanded" ng-click="chunk.expanded = !chunk.expanded">
                    <div layout="horizontal">
                        <img class="round-face" src="http://placekitten.com/g/48/48"/>
                        <div>
                            <h2>Some Post</h2>
                            <p>Some Description</p>
                            <p>Some more stuff</p>
                            <p>And even way more stuff!!</p>
                        </div>
                    </div>
                </md-card>
            </div>
        </md-list>
    </md-content>
</div>

<div layout="vertical" layout-align="space-between" style="height: 260px; position: fixed; right: 40px; bottom: 90px;" ng-if="showAddButtons" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Add Quote
        </md-tooltip>
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Add Text
        </md-tooltip>
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Add Image
        </md-tooltip>
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        <md-tooltip>
            Add Video
        </md-tooltip>
    </md-button>
</div>

<md-button id="mainFab" class="md-fab md-raised" ng-click="showAddButtons = !showAddButtons;" aria-label="New document">
    <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button>
<!--<md-bottom-sheet class="md-list md-has-header">-->
    <!--<md-subheader>Comment Actions</md-subheader>-->
    <!--<md-list>-->
        <!--<md-item ng-repeat="item in items" ng-click="showGridBottomSheet($event)">-->
            <!--<md-button>-->
                <!--&lt;!&ndash; Using custom inline icon until md-icon is ready. DONT USE ME! &ndash;&gt;-->
                <!--<md-inline-list-icon icon="{{item.icon}}"></md-inline-list-icon>-->
                <!--<span class="md-inline-list-icon-label">{{ item.name }}</span>-->
            <!--</md-button>-->
        <!--</md-item>-->
    <!--</md-list>-->
<!--</md-bottom-sheet>-->

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/hammerjs/hammer.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/controllers/controllers.js"></script>
</body>
</html>